/* 公共的样式 */

/* 写一个页面样式的起手式 */
* {
    box-sizing: border-box;
    /* 去除浏览器默认样式 */
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-image: url(https://s2.loli.net/2023/03/01/dYQMrXeK8GVihP3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* 让图片尽可能填满整个元素 */
    background-size: cover;

    height: 100%;
}

/* 导航栏 */
.nav {
    width: 100%;
    /* 导航栏一般高度都是 50px */
    height: 50px;
    background-color: rgba(50, 50, 50, 0.4);
    color: white;

    /* 使用弹性布局, 让里面的元素水平方向排列 */
    display: flex;
    align-items: center;
}

/* 导航栏中的 logo */
.nav img {
    width: 40px;
    height: 40px;
    /* 左右设置外边距, 有一些缝隙 */
    margin-left: 30px;
    margin-right: 10px;
    /* 设置圆角矩形, 变成圆形 */
    border-radius: 20px;
}

.nav a {
    color: white;
    /* 去掉 a 标签的下划线 */
    text-decoration: none;
    /* 此处使用内边距把多个链接分出距离来 */
    /* 但是此处要注意使用外边距也行, 但是内边距更好, 能够扩大点击的范围 */
    padding: 0 10px;
}

.nav .spacer {
    width: 70%;
}

/* 页面的主体部分. 也称为 "版心" */
.container {
    /* 设置成固定宽度, 水平居中 */
    width: 1000px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;

    /* 设置高度, 和浏览器窗口一样高 */
    height: calc(100% - 50px);

    display: flex;
    /* 让里面的元素能够等间距铺开 */
    justify-content: space-between;
}

.container-left {
    height: 100%;
    width: 200px;
}

.container-right {
    height: 100%;
    /* 留出来 5px 的缝隙 */
    width: 795px;

    /* 加上白色半透明背景 */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;

    /* 当内容超出范围时, 自动添加滚动条 */
    overflow: auto;
}

/* 设置用户信息区域 */
.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
}

/* 设置用户头像 */
.card img {
    /* 整个 .card 的宽度是 200px, .card 设置了四个方向的内边距, 30px */
    /* 剩下的能放图片的空间就是 140px */
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

/* 设置用户名 */
.card h3 {
    text-align: center;
    /* 这里使用内边距, 把用户名和头像, 撑开一个距离. 使用外边距也是 ok 的 */
    padding: 10px;
}

/* 设置 github 地址 */
.card a {
    text-align: center;
    /* 文字设置成灰色 */
    color: gray;
    /* 去掉下划线 */
    text-decoration: none;
    /* 需要把 a 标签转成块级元素, 上述的文字水平居中才有意义 */
    display: block;
    /* 让 a 标签和下方有间隔 */
    margin-bottom: 10px;
}

.card .counter {
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

.design {
    float: right;
}

.design a {
    font-size: larger;
    text-decoration: none;
    color: black;
}