!.vscode/extensions.json
*.class
*.csv
*.db
*.exe
*.filters
*.idb
*.ilk
*.iml
*.ipch
*.local
*.log
*.njsproj
*.ntvs*
*.obj
*.pdb
*.properties
*.recipe
*.sln
*.suo
*.sw?
*.tlog
*.tsbuildinfo
*.txt
*.user
*.vcxproj
*.xml
*.yml
.DS_Store
.idea
.idea/
.verysync/
.vscode/*
/cypress/screenshots/
/cypress/videos/
CProject/T230522/CMakeLists.txt
CProject/TestForSchool/CMakeLists.txt
JavaProject/JDBC/lib/mysql-connector-java-5.1.49.jar
JavaProject/untitled/lib/mysql-connector-java-5.1.49.jar
SchoolProject/T230414_1/CMakeLists.txt
cmake-build-debug/
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
target/
yarn-debug.log*
yarn-error.log*
/JavaProject/file-cloud-disk/shareTemp
/JavaProject/file-cloud-disk/DownloadTemp
/JavaProject/file-cloud-disk/recycleBin
