
.verysync/
.idea/
target/
cmake-build-debug/
*.class
*.xml
*.iml
*.db
*.exe
*.pdb
*.sln
*.obj
*.recipe
*.ilk
*.log
*.tlog
*.idb
*.vcxproj
*.filters
*.user
*.ipch
*.csv


CProject/TestForSchool/CMakeLists.txt
SchoolProject/T230414_1/CMakeLists.txt
CProject/T230522/CMakeLists.txt
*.txt
JavaProject/untitled/lib/mysql-connector-java-5.1.49.jar
JavaProject/JDBC/lib/mysql-connector-java-5.1.49.jar
*.properties
*.yml
*.properties
## news
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
