.login-container[data-v-38d89eea]{display:flex;justify-content:center;align-items:center;height:100vh;-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px)}.login-box[data-v-38d89eea]{width:300px;padding:20px;border-radius:8px;box-shadow:0 0 10px #0000001a;transition:transform .3s ease-in-out}.login-box[data-v-38d89eea]:hover{transform:scale(1.05)}.login-box[data-v-38d89eea]{background-color:#292a305c}/*!* 亮色主题样式 *!
@media (prefers-color-scheme: light) {
  .login-box {
    background-color: #fff; !* 保持背景颜色 *!
  }
}*/
